<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
<div th:replace="~{header :: commonHeader}" ></div>
	<div class= " container text-center">

		<div>
			<h2>Forgot Password</h2>
		</div>
		<div th:if="${error != null}">
			<p class="text-danger">[[${error}]]</p>
		</div>

		<div th:if="${message !=null}">
			<p class="text-danger">[[${error}]]</p>
		</div>
		<form th:action="@{/forgot_password}" method="post"
			style="max-width: 400px; margin: 0 auto;">
			<div class="border border-secondary rounded p-3">
				<div>
					<p>We will send you a link to reset your password.</p>
				</div>
				<div>
					<p>
						E-mail: <input type="email" name="email" class="form-control"
							placeholder="Enter Your Email" required autofocus />
					</p>
					<p class="text-center" >
						<input type="submit" value="Send" class="btn btn-primary" />
					</p>
				</div>
			</div>
		</form>
	</div>
</body>
</html>