<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div th:replace="~{header :: commonHeader}"></div>

    <div class="container text-center">
    <div class="starter-template">
        <h3>You have signed up successfully!</h3>
        <p> Please wait till we verify your account </p>
    </div>
     </div>
</body>
</html>